<li class="nav-item <%= "active open" if ["erp/tours/backend/tours",
                                          "erp/tours/backend/categories"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-plane"></i>
        <span class="title"><%= t('.tour') %></span>
        <% if ["erp/tours/backend/tours",
               "erp/tours/backend/categories"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active" if ["erp/tours/backend/tours"].include?(params[:controller]) %>">
            <a href="<%= erp_tours.backend_tours_path %>" class="nav-link ">
                <span class="title"><%= t('.tours') %></span>
            </a>
        </li>
        <li class="nav-item <%= "active" if ["erp/tours/backend/categories"].include?(params[:controller]) %>">
            <a href="<%= erp_tours.backend_categories_path %>" class="nav-link ">
                <span class="title"><%= t('.categories') %></span>
            </a>
        </li>
    </ul>
</li>