<!-- Page Container -->
<div class="page-container ptb-10">
    <div class="container">
        <div class="section deals-header-area ptb-30">
            <div class="row row-tb-20">
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <aside>
                        <ul class="nav-coupon-category panel">
                            <% @home_menus.each do |menu| %>
                                <li>
                                    <a href="<%= menu_link(menu) %>">
                                        <img src="<%= menu.icon_main.small %>" alt="<%= menu.menu_name %>">
                                        <%= menu.menu_name %><span><%= menu.get_tours.count %></span>
                                    </a>
                                </li>
                            <% end %>
                            <li class="all-cat">
                                <a class="font-14 menu-view-all" href="">Xem Tour Du Lịch</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/frontend/assets/images/icons/news.png" alt="">
                                    Tin Tức - Sự Kiện<span>10</span>
                                </a>
                            </li>
                            <li>
                                <a href="">                                                
                                    <img src="/frontend/assets/images/icons/vietnam-book.png" alt="">
                                    Non Nước Việt Nam<span>10</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/frontend/assets/images/icons/travel-guide.png" alt="">
                                    Cẩm Nang Du Lịch<span>10</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="/frontend/assets/images/icons/food.png" alt="">
                                    Ẩm Thực<span>10</span>
                                </a>
                            </li>
                            <li class="all-cat">
                                <a class="font-14 menu-view-all" href="">Xem Tin Tức Du Lịch</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-9">
                    <%= render "erp/thichladi/frontend/modules/home/slideshow" %>
                </div>
            </div>
        </div>
        <div class="section explain-process-area">
            <div class="row row-rl-10">
                <% (0..2).each do |marketing| %>
                <div class="col-md-4">
                    <div class="item panel prl-15 ptb-20">
                        <div class="row row-rl-5 row-xs-cell">
                            <a href="" class="marketing">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="/frontend/assets/images/du-lich-tu-tin.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5 color-black">TIÊU ĐỀ QUẢNG BÁ</h5>
                                    <p class="color-mid color-black">Nội dung quảng bá thương hiệu thichladi.info</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        
        <%= render "erp/thichladi/frontend/modules/home/discount_tours" %>
        <%= render "erp/thichladi/frontend/modules/home/hot_tours" %>
        <%= render "erp/thichladi/frontend/modules/home/news_lastest" %>
        
        <section class="section subscribe-area t-center">
            <div class="newsletter-form">
                <h4 class="mb-20"><i class="fa fa-envelope-o color-green mr-10"></i>ĐĂNG KÝ NHẬN THÔNG TIN TOUR GIẢM GIÁ</h4>
                <form method="post" action="">
                    <div class="input-group mb-10">
                        <input type="email" class="form-control bg-white" placeholder="Email đăng ký nhận thông tin tour giảm giá...">
                        <span class="input-group-btn">
                            <button class="btn" type="submit">ĐĂNG KÝ NGAY</button>
                        </span>
                    </div>
                </form>
                <p class="color-muted"><small>Chúng tôi hoàn toàn không spam hay chia sẻ với đơn vị thứ ba.</small> </p>
            </div>
        </section>
    </div>
</div>
<!-- End Page Container -->