<section class="footer-top-area pt-70 pb-30 pos-r bg-blue">
    <div class="container">
        <div class="row row-tb-20">
            <div class="col-sm-12 col-md-8">
                <div class="row row-tb-20">
                    <div class="footer-col col-sm-6">
                        <div class="footer-about">
                            <%= image_tag "/frontend/assets/images/banner-footer-thichladi.png", width: "380", alt: "", class: "mb-40" %>
                            <p class="color-light text-justify">Nội dung giới thiệu ngắn về website du lịch thichladi.info</p>
                        </div>
                        <div class="payment-methods footer-socials">
                            <span><%= link_to image_tag("/frontend/assets/images/socials/facebook.png", alt: ""), "", title: "" %></span>
                            <span><%= link_to image_tag("/frontend/assets/images/socials/youtube.png", alt: ""), "", title: "" %></span>
                            <span><%= link_to image_tag("/frontend/assets/images/socials/instagram.png", alt: ""), "", title: "" %></span>
                            <span><%= link_to image_tag("/frontend/assets/images/socials/zalo.png", alt: ""), "", title: "" %></span>
                        </div>
                    </div>
                    <div class="footer-col col-sm-6">
                        <div class="footer-links">
                            <h2 class="color-lighter">LIÊN KẾT NHANH</h2>
                            <ul>
                                <% Erp::Tours::Menu.get_home_menus.each do |menu| %>
                                <li><%= link_to menu.menu_name, menu_link(menu), title: menu.menu_name %></li>
                                <% end %>
                                <li><%= link_to "Hướng Dẫn Đặt Tour", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_TOUR_GUIDE).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_TOUR_GUIDE).id,
                                    'huong-dan-dat-tour'
                                ) %></li>
                                <li><%= link_to "Chăm Sóc Khách Hàng", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_CUSTOMER_CARE).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_CUSTOMER_CARE).id,
                                    'cham-soc-khach-hang'
                                ) %></li>
                                <li><%= link_to "Sitemap", "" %></li>
                                <li><%= link_to "Giới Thiệu", erp_thichladi.intro_path %></li>                                
                                <li><%= link_to "Liên Hệ", erp_thichladi.contact_path %></li>
                                <li><%= link_to "Hồ Sơ Năng Lực", "" %></li>
                                <li><%= link_to "Điều Khoản Mua Bán Hàng Hóa", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_TERMS_OF_SALES).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_TERMS_OF_SALES).id,
                                    'dieu-khoan-mua-ban-hang-hoa'
                                ) %></li>
                                <li><%= link_to "Phương Thức Thanh Toán", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_PAYMENT_METHODS).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_PAYMENT_METHODS).id,
                                    'phuong-thuc-mua-ban'
                                ) %></li>
                                <li><%= link_to "Chính Sách Đổi Trả & Hoàn Tiền", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_RETURN_POLICY_AND_REFUND).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_RETURN_POLICY_AND_REFUND).id,
                                    'chinh-sach-doi-tra-hoan-tien'
                                ) %></li>
                                <li><%= link_to "Chính Sách Bảo Mật Thông Tin Khách Hàng", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_PAYMENT_METHODS).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_PAYMENT_METHODS).id,
                                    'chinh-sach-bao-mat-thong-tin-khach-hang'
                                ) %></li>
                                <li><%= link_to "Chính Sách Giải Quyết Tranh Chấp & Khiếu Nại", Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_POLICY_OF_DISPUTES_COMPLAINTS).nil? ? "" : erp_thichladi.policy_path(
                                    Erp::MiniStores::ArticleCategory.get_active.find_by_alias(Erp::MiniStores::ArticleCategory::ALIAS_POLICY_OF_DISPUTES_COMPLAINTS).id,
                                    'chinh-sach-giai-quyet-tranh-chap-khieu-nai'
                                ) %></li>                                      
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="row row-tb-20">
                    <div class="footer-col col-sm-12">
                        <div class="footer-top-twitter">
                            <h2 class="color-lighter">THÔNG TIN CÔNG TY</h2>
                            <ul class="twitter-list">
                                <li class="single-twitter">
                                    <p class="color-light company-name">
                                        CÔNG TY TNHH MTV DU LỊCH KHÁM PHÁ MỚI
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Người đại diện: &nbsp;</span></strong>Nguyễn Trường Lân
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Số giấy chứng nhận kinh doanh: &nbsp;</span></strong>0 3 1 0 1 8 1 8 9 2
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Cấp ngày: &nbsp;</span></strong>19/07/2010
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Trụ sở chính: &nbsp;</span></strong>259/2 Nguyễn Tri Phương, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Chi nhánh: &nbsp;</span></strong>114 Ngô Quyền, Phường 5, Quận 10, Tp Hồ Chí Minh, Việt Nam
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light">
                                        <strong><span>Tel: &nbsp;</span></strong><a href="tel:">(+84) 028 3853 3318</a> &nbsp;-&nbsp; <a href="tel:">(+84) 028 3853 3321</a>
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light footer-hotline">
                                        <i class="fa fa-headphones"></i>
                                        <span>HOTLINE 1: &nbsp;</span> <a href="tel:">0919 515 059</a>
                                    </p>
                                </li>
                                <li class="single-twitter">
                                    <p class="color-light footer-hotline">
                                        <i class="fa fa-headphones"></i>
                                        <span>HOTLINE 2: &nbsp;</span> <a href="tel:">0919 623 535</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>                                    
        </div>
    </div>
</section>