<div class="header-menu bg-blue">
    <div class="container">
        <nav class="nav-bar">
            <div class="nav-header">
                <span class="nav-toggle" data-toggle="#header-navbar">
                <i></i>
                <i></i>
                <i></i>
            </span>
            </div>
            <div id="header-navbar" class="nav-collapse">
                <ul class="nav-menu">
                    <li class="active"><%= link_to "Trang Chủ", erp_thichladi.root_path, title: "" %></li>
                    <% Erp::Tours::Menu.get_menus.each do |menu| %>
                    <li><%= link_to menu.menu_name, "javascript:void(0)" %>
                        <ul>
                            <% menu.children.get_active.each do |child_menu| %>
                            <li><%= link_to child_menu.menu_name, menu_link(child_menu), title: child_menu.menu_name %></li>
                            <% end %>
                        </ul>
                    </li>
                    <% end %>
                    <li>
                        <a href="javascript:void(0)"><%= Erp::MiniStores::ArticleCategory.get_category_by_alias_blog.article_category_name %></a>
                        <ul>
                            <% Erp::MiniStores::ArticleCategory.get_category_by_alias_blog.children.each do |child_1| %>
                                <% if child_1.children.count > 0 %>
                                    <li>
                                        <%= link_to child_1.article_category_name, blog_link(child_1), title: child_1.article_category_name, class: "fix-click" %>
                                        <ul>
                                            <% child_1.children.get_active.each do |child_2| %>
                                            <li><%= link_to child_2.article_category_name, blog_link(child_2), title: child_2.article_category_name %></li>
                                            <% end %>
                                        </ul>
                                    </li>
                                <% else %>
                                    <li><%= link_to child_1.article_category_name, blog_link(child_1), title: child_1.article_category_name %></li>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                    <li><%= link_to "Giới Thiệu", erp_thichladi.intro_path %></li>
                    <li><%= link_to "Liên Hệ", erp_thichladi.contact_path %></li> 
                </ul>
            </div>
            <div class="nav-menu nav-menu-fixed">
                <a href="" target="_blank">
                    TẢI BẢNG GIÁ TOUR
                    <i class="fa fa-cloud-download ml-10"></i>
                </a>
            </div>
        </nav>
    </div>
</div>