<div class="page-container ptb-20">
    <div class="container">
        <div class="row row-rl-10 row-tb-20">
            <div class="page-content col-xs-12 col-sm-7 col-md-8">
                <!-- Blog Area -->
                <div class="blog-area blog-single-post">
                    <div class="row row-tb-20">
                        <!-- Blog Post -->
                        <div class="blog-post col-xs-12">
                            <article class="entry panel">
                                <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="<%= @blog.image_url.large %>">
                                    <div class="entry-date">
                                        <h4><%= @blog.created_at.strftime("%d") %></h4>
                                        <h6><%= @blog.created_at.strftime("%m") %></h6>
                                    </div>
                                </figure>
                                <div class="entry-wrapper prl-20 prl-md-30 pt-20 pt-md-30 pb-15">
                                    <header class="entry-header">
                                        <h1 class="entry-title mb-10 mb-md-15"><%= @blog.article_name %></h1>
                                    </header>
                                    <div class="entry-content text-justify"><%= @blog.content.html_safe if @blog.content.present? %></div>
                                    <!-- .entry-wrapper -->
                                    <footer class="entry-footer">
                                        <ul class="share-buttons ptb-20">
                                            <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a>
                                            </li>
                                            <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                    </div>
                </div>
                <!-- End Blog Area -->
            </div>
            <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                <!-- Blog Sidebar -->
                <%= render "erp/thichladi/frontend/modules/blog/sidebar" %>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- End Page Container -->