<div class="page-container ptb-20">
    <div class="container">
        <div class="row row-masnory row-rl-10 row-tb-20">
            <div class="page-content col-xs-12 col-sm-7 col-md-8">
                <!-- Blog Area -->
                <div class="blog-area blog-grid blog-3-col">
                    <div class="row row-tb-20">
                        <% @blogs.each do |blog| %>
                        <!-- Blog Post -->
                        <div class="blog-post col-xs-12 col-sm-6">
                            <article class="entry panel">
                                <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="<%= blog.image_url.medium if blog.image_url.present? %>">
                                    <div class="entry-date">
                                        <h4><%= blog.created_at.strftime("%d") %></h4>
                                        <h6><%= blog.created_at.strftime("%m") %></h6>
                                    </div>
                                </figure>
                                <div class="entry-wrapper pt-20 pb-10 prl-20">
                                    <header class="entry-header">
                                        <h4 class="entry-title mb-10 mb-md-15 font-xs-16 font-sm-18 font-md-16 font-lg-16">
                                            <%= link_to blog.article_name, blog_detail_link(blog), title: blog.article_name %>                                            
                                        </h4>
                                        <div class="entry-meta mb-10">
                                            <ul class="tag-info list-inline">
                                                <li><i class="icon fa fa-folder-open"></i> <%= blog.article_category_name %></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="entry-content">
                                        <p class="entry-summary text-justify"><%= truncate(strip_tags(blog.content.html_safe), length: 180) if blog.content.present? %></p>
                                    </div>
                                    <footer class="entry-footer text-right">
                                        <%= link_to 'Xem chi tiết <i class="icon fa fa-long-arrow-right"></i>'.html_safe, blog_detail_link(blog), class: "more-link btn btn-link" %>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                        <% end %>
                    </div>
                    <% if @blogs.count > 10 %>
                    <!-- Blog Pagination -->
                    <div class="page-pagination text-center mt-30 p-10 panel">
                        <nav>
                            <!-- Page Pagination -->
                            <%= will_paginate @blogs, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
                            <!-- End Page Pagination -->      
                        </nav>
                    </div>
                    <!-- End Blog Pagination -->
                    <% end %>
                </div>
                <!-- End Blog Area -->
            </div>
            
            <!-- Page Sidebar -->
            <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                <!-- Blog Sidebar -->
                <%= render "erp/thichladi/frontend/modules/blog/sidebar" %>
                <!-- End Blog Sidebar -->
            </div>
            <!-- End Page Sidebar -->
        </div>
    </div>
</div>
<!-- End Page Container -->