<aside class="sidebar blog-sidebar">
    <div class="row row-tb-10">
        <div class="col-xs-12">
            <!-- Categories Widget -->
            <div class="widget categories-widget panel pt-20 prl-20">
                <div class="widget-header">
                    <h3 class="widget-title h-title">Chuyên mục tin tức</h3>
                </div>
                <div class="widget-body ptb-20">
                    <ul>
                        <% @main_category.children.each do |category| %>
                            <li>
                                <a href="<%= erp_thichladi.blog_path(category) %>">
                                    <%= category.article_category_name %>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <!-- End Categories Widget -->
        </div>        
        <%= render "erp/thichladi/frontend/modules/newest_article" %>                                        
        <%= render "erp/thichladi/frontend/modules/newsletter" %>
        <%= render "erp/thichladi/frontend/modules/contact" %>
    </div>
</aside>