<aside class="sidebar blog-sidebar">
    <div class="row row-tb-10">
        <div class="col-xs-12">
            <div class="widget single-deal-widget panel ptb-20 prl-20">
                <div class="widget-body text-center">
                    <h1 class="mb-10 h3"><%= tour.name %></h1>
                    <ul class="deal-meta list-inline mb-10 color-mid">
                        <% if tour.area_position.present? %>
                            <li><i class="ico fa fa-map-marker mr-10 mb-5"></i><%= tour.area_position %></li>
                        <% end %>
                        <% if tour.transportation.present? %>
                            <li><i class="ico fa fa-rocket mr-10 mb-5"></i><%= tour.transportation %></li>
                        <% end %>
                        <% if tour.time_line.present? %>
                            <li><i class="ico fa fa-clock-o mr-10 mb-5"></i><%= tour.time_line %></li>
                        <% end %>
                        <% if tour.hotel.present? %>
                            <li><i class="ico fa fa-building mr-10"></i><%= tour.hotel %></li>
                        <% end %>
                        <% if tour.tour_program.present? %>
                            <li><i class="ico fa fa-cloud-download mr-10"></i><%= link_to "Chương trình tour", tour.tour_program_url %></li>
                        <% end %>
                    </ul>
                    <% if tour.description.present? %>
                    <p class="color-muted text-justify"><%= tour.description %></p>
                    <% end %>
                    <div class="price mb-10">
                        <h2 class="price">
                            <% if tour.is_discount == true && tour.price_discount.present? && tour.percent_discount.present? %>
                                <span class="price-sale"><%= format_price(tour.price) %></span>
                                <%= format_price(tour.price_discount) %>
                            <% else %>
                                <%= format_price(tour.price) %>
                            <% end %>
                        </h2>
                    </div>
                    <div class="buy-now mb-10">
                        <a href="<%= erp_thichladi.tour_booking_path(tour_id: tour.id) %>" class="btn btn-block btn-lg">
                            <i class="fa fa-check font-16 mr-10"></i> ĐẶT TOUR NGAY
                        </a>
                    </div>
                    <%= count_down_detail(tour.date_discount_start, tour.date_discount_end) %>
                </div>
            </div>
        </div>        
        <%= render "erp/thichladi/frontend/modules/tour/newest_tour" %>
        <%= render "erp/thichladi/frontend/modules/newest_article" %>
        <%= render "erp/thichladi/frontend/modules/newsletter" %>
        <%= render "erp/thichladi/frontend/modules/contact" %>
    </div>
</aside>